/* body{
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    max-width: 500px;
    height: 250px;
    background-color: #ff5b84;
    color: #6a1134;
}
.heading{
    height: 16px;
    width: 100%;
    font-weight: 500;
    
} */
/* 
   
for nav bar  background-color: #ff5b84;
for heading navbar color: #6a1134;
for footer #a73060
lighter #ff8aad
darker #ff2e63
like heading darker #c12664
*/
 